html {
  height: 100%;
  width: 100%;
}

body {
  display:grid;
  gap:4px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 100vh;
  background-color: black;
}


.box {
  background-color: white;
  border-radius: 36px;
}

.box:nth-child(1) {
  background-color: yellow;
  grid-column: span 2;
  grid-row: span 2;
}

.box:nth-child(8) {
  background-color: teal;
  grid-column:  span 2 ;
}