@import url(reset.css);


html {
  height: 100%;
  width: 100%;
}

body {
  display:grid;
  gap:4px;
  padding: 24px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 100vh;
  background-color: black;
  box-sizing: border-box;
}


.box {
  background-color: white;
  border-radius: 12px;
  overflow: hidden;
  padding: 24px;
  &:nth-child(1) {
    background-color: white;
    grid-column: span 2;
    grid-row: span 2;
  }
  &:nth-child(2) {
    background-image: url("https://img.freepik.com/free-psd/3d-rules-icon-with-plate-cleaning_23-2150822113.jpg?size=338&ext=jpg&ga=GA1.1.2008272138.1721520000&semt=ais_user");
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    object-fit: cover;
    background-repeat: none;
    background-size: cover;
  }
  &:nth-child(6) {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: rgba(100, 100, 100, 0.1);
  }
  &:nth-child(7) {
    background-image: url("https://mir-s3-cdn-cf.behance.net/projects/404/6692f8189814689.Y3JvcCwxMTE4LDg3NSwxNDEsMA.jpg");
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-repeat: none;
    background-size: cover;
    box-sizing: border-box;
  }
  .box-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    div {
      display: flex;
      flex-direction: row;
    }
  }
}

#first-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .box-main {
    h1 {
      font-size: 80px;
      font-weight: 800;
    }
  }
  .box-footer {
    border-top: 2px solid black;
    font-size: 24px;
    font-weight: 800;
    line-height: 125%;
    padding-top: 12px;
  }
}

#list-box {
  background-color: rgba(34, 34, 34,0);
  color:white;
  border-radius: 12px;
  overflow: hidden;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 18px;
    li {
      list-style: none;
      font-size: 14px;
      &:first-child {
        font-size: 14px;
        display: flex;
        justify-content: space-between;
        div {
          background-color: orange;
          width: 16px;
          height: 16px;
          border-radius: 8px;
        }
      }
      span {
        font-size: 14px;
      }
    }
  }
  span {
    font-size: 20px;
    font-weight: 800;
  }
}

#buttons-box {
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 1fr 1fr 2fr;
  gap: 4px;
  width:100%;

  .buttons-box__btn {
    border-radius: 12px;
    background-color: lightblue;
    padding: 24px;
    &:first-child {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background-color: #FFC830;
      div {
        background-color: black;
        width: 16px;
        height: 16px;
        border-radius: 8px;
      }
      span {
        line-height: 18px;
        text-align: right;
        font-size: 12px;
      }
    }
    &:last-child {
      display: flex;
      align-items: end;
      background-color: rgba(34, 34, 34,0);
      color:white;
      span {
        font-size: 20px;
        font-weight: 800;
      }
    }
  }
}

#qr-box {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    object-fit: cover;
    width: 100%;
  }
}

#character-box {
  display: flex;
  flex-direction: column;
  justify-content: start;
  span:nth-child(1) {
    margin-bottom: 8px;
  }
  span:nth-child(2) {
    font-size: 18px;
  }
}

#last-box {
  background-color: white;
  grid-column:  3 / span 2 ;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .last-box__header {
    display: flex;
    justify-content: space-between;
    .last-box__header__column {
      display: flex;
      gap: 8px;
      .last-box__header__column__left {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 64px;
        border-radius: 32px;
        &:first-child {
          border: 1px solid black;
        }
        &:last-child {
          background-color: orange;
        }
      }
      .last-box__header__column__right {
        display: flex;
        flex-direction: row;
        align-items: center;
        &:first-child {
          font-size:14px;
          line-height: 18px;
          font-weight: 800;
        }
        &:last-child {
          background-color: orange;
          width: 48px;
          height: 48px;
          border-radius: 32px;
        }
      }
    }
    
  }
  .last-box__main {
    p {
      line-height: 150%;
      font-size: 14px;
    }
  }
}